.Facilities{
    width: 100%;
    height: 100vh;
    background-color: #fffff0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3%;
    overflow: hidden;
}
.Facilities h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
}
.f-slider{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    rotate: 2deg;
    margin-top: 5%;
}
.f-slider .f-inner{
    width: 30%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.f-inner img{
    width: 100%;
    border-radius: 20px;
    position: relative;
    bottom: 105%;
    z-index: 99;
}
.f-inner:hover img{
    scale: 110%;
    transition: 500ms;
}

.f-inner h4{
    width: 100%;
    height: 100%;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    background-color: #00000051;
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


@media only screen and (max-width: 1100px){
    .f-slider .f-inner{
        width: 80%;
        height: 50%;
    }
    .Facilities{
        height: 150vh;
    }
    
}