footer{
    width: 100%;
    
    background: url(./foot.jpg);
    background-size: cover; 
}
.footfilter{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,87,51,0.8839868711156338) 0%, rgba(139,90,43,0.3265639019279587) 48%);
    padding: 1% 10%;
    color: #fffff0;
}
.upperfoot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #fffff03d;
    padding-bottom: 2%;
}
.upperfoot img{
    width: 20%;
}
.upperfoot p{
    width: 80%;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.donwfoot{
    width: 100%;
    display: flex;
    padding: 2% 0%;
    justify-content: space-between;
    border-bottom: 1px solid #fffff038;
   
}
.donwfoot ul{
    width: 25%;
}
.donwfoot ul h2{
    font-size: 25px;
    font-weight: 600;
    color: #fffff0;
}
.donwfoot ul li{
    list-style: none;
    color: #fffff0;
}
.donwfoot ul li a{
    color: #fffff0;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
}
.copright{
    padding-top: 2%;
    color: #fffff0;
}