nav{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 105;
    display: flex;
    justify-content: space-evenly;
    background-color: #CEB79F;
    box-shadow:  rgba(99, 99, 99, 0.126) 0px 1px 0px 0px;
}
.left-nav>ul>li>.is-active{
    color: #FF5733;
}
.dropdown{
    padding: 2% 0%;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu,.openshop{
    display: none;
    position: absolute;
    top: 7vh;
    z-index: 100;
    background-color: #CEB79F;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 13%;
}

.dropdown-menu li,.openshop li{
    list-style: none;
    color: #333333;
    font-weight: 500;
    font-size: 13px;
    padding: 5% 5%;
    line-height: 30px;
} 
.dropdown-menu li:hover{
    background-color: #FF5733;
    color: #FFFFF0;
}



.left-nav{
    width: 30%;
    height: 10vh;
}
.left-nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left-nav>ul>li{
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;
    letter-spacing: 2px;
    color: #333333;
}
.left-nav>ul>li>a{
    color: #333333;
    font-weight: 700;
}
.left-nav>ul>li:hover{
    color: #FF5733;
}








.center-nav-logo{
    width: 20%;
    height: 13vh;
    background-color: #CEB79F;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    box-shadow:  rgba(99, 99, 99, 0.126) 0px 1px 0px 0px;
}
.center-nav-logo img{
    width: 45%;
}






.right-nav{
    width: 30%;
    height: 10vh;
    display: flex
}
.right-nav>ul{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.right-nav>ul>li{
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    list-style: none;
    cursor: pointer;
    letter-spacing: 2px;
    color: #333333;
}
.right-nav>ul>li:hover{
    color: #FF5733;
}
.right-nav>div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.right-nav>div>span>a{
   color: #333333;
   font-size: 25px; 
}
.right-nav>div>span>a:hover{
    color: #FF5733;
}




@media only screen and (max-width: 1100px){
    .left-nav{
        display: flex;
        align-items: center;
        width: 75%;
        margin-left: 5%;
        z-index: 98;
    }
    .dropdown{
        padding: 0% 0%;
    }
    .left-nav>ul{
        display: block;
        position: fixed;
        padding: 2% 0%;
        height: max-content;
        left: 0;
        width: 100%;
        background-color: #FFFFF0;
        box-shadow:  rgba(99, 99, 99, 0.126) 0px 2px 2px 2px;
        transition: 600ms ease-out;
    }
    .closemenu{
        top: -100vh;
    }
    .openmenu{
        top: 10vh;
    }
    .dropdown:hover .dropdown-menu{
        display: none;
    }
    .openshop{
        display: block;
        width: 120%;
        top: 1.5vh;
        position: relative;
        padding: 0% 5%;
        left: -10%;
        box-shadow: none; 
        background-color: #FFFFF0;
    }
    .openshop li{
        line-height: 1px;
        list-style: none;
        color: #333333;
        font-weight: 500;
        font-size: 13px;
        padding: 5% 5%; 
    }
    .openshop li:hover{
        background-color: #FF5733;
        color: #FFFFF0;
    }




    .left-nav>ul>li{
        padding: 2% 5%;
    }
    .left-nav>ul>li:hover{
        background-color: #FF5733;
        color: #FFFFF0;
    }
    .hamburgar{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        width: 25px;
        height: 20px;
        cursor: pointer;
        margin-left: 5%;
    }
    .hamburgar span{
        width: 100%;
        height: 4px;
        background-color: #000;
    }
    .cross{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        width: 25px;
        height: 20px;
        cursor: pointer;
        margin-left: 5%;
    }
    .cross :nth-child(1){
        width: 100%;
        height: 4px;
        background-color: #000;
        rotate: 45deg;
        height: 4px;
        position: relative;
        top: 50%;
    }
    .cross  :nth-child(2){
       display: none;
    }
    .cross  :nth-child(3){
        width: 100%;
        height: 4px;
        background-color: #000;
        rotate: -45deg;
        height: 4px;
        position: relative;
        top: -26%;
    }



    .center-nav-logo{
        width: 50%;
        position: absolute;
        z-index: 100;
       
        background-color: #FFFFF0;
        box-shadow:  rgba(99, 99, 99, 0.126) 0px 1px 0px 0px;
    }
    .center-nav-logo img{
        width: 25%;
    }
    .right-nav{
        width: 25%;
        margin-right: 5%;
    }
    .right-nav>ul{
        display: none;
    }
    .right-nav>div{
        width: 100%;
    }
}


@media only screen and (max-width: 750px){
    .center-nav-logo img{
        width: 40%;
    }
}
@media only screen and (max-width: 600px){
    .center-nav-logo img{
        width: 50%;
    }
}

